body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  height: 400px;
  width: 700px;
  border-radius: 20px;
  background: linear-gradient(148deg, rgba(124,119,119,1) 0%, rgba(99,99,99,0.6180847338935574) 36%, rgba(170,169,169,1) 100%);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-left: 60px;
  color: #fff;
  text-shadow: 1px 0 3px #000;
}
.wrapper::before{
  content: "";
  display: block;
  top: -30%;
  left: 70%;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 25, 25 , 0.4);
  animation: 10s bg_color_before linear infinite ;
}
.wrapper::after{
  content: "";
  display: block;
  bottom: -40%;
  left: 40%;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(209, 189, 3, 0.4);
  animation: 20s bg_color_after linear infinite;
  
}
.orders , .decreasing{
  font-size: 2rem;
}
.amount{
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.icon{
  position: absolute;
  left: 80%;
  top: 10%;
  font-size: 60px;
}
@keyframes bg_color_before{
 0%{
  background-color: rgba(255, 25, 25 , 0.4);
 }
 25%{
  background-color: rgba(247, 204, 16, 0.4);
 }
 50%{
  background-color: rgba(62, 218, 14, 0.4);
 }
 75%{
  background-color: rgba(21, 224, 224, 0.4);
 }
 100%{
  background-color: rgba(255, 25, 25 , 0.4);
 }
}
@keyframes bg_color_after{
 0%{
  background-color: rgba(209, 189, 3, 0.4);
 }
 25%{
  background-color: rgba(223, 189, 39, 0.4);
 }
 50%{
  background-color: rgba(62, 218, 14, 0.637);
 }
 75%{
  background-color: rgba(30, 150, 150, 0.4);
 }
 100%{
  background-color: rgba(209, 189, 3, 0.4);
 }
}
